<div class="container">
    <div class="row offset-md-4 mb3">
    <div class="col-sm-12 my-auto mb-3">
      <h4 class="font-weight-bold mb-3">
        本当に退会しますか？
      </h4>
      <p>退会すると、会員登録情報や</p>
      <p>これまでの購入履歴が閲覧できなくなります。</p>
      <p>退会する場合は、「退会する」をクリックしてください。</p>
      <div class="row mb-3">
        <div class="col-sm-3">
          <%= link_to "退会しない",customers_my_page_path(@customer),class:'btn btn-primary btn-sm' %>
        </div>
        <div class="col-sm-3">
          <%= link_to "退会する",customers_withdraw_path(@customer),method: :patch,"data-confirm"=>"本当に消しますか?" ,class:'btn btn-danger btn-sm' %>
        </div>
      </div>
    </div>
    </div>
</div>