<div class="container">
  <div class="row">
    <div class="col-10 mx-auto my-auto">
      <div class="d-flex align-items-center justify-content-center" style="height:300px;">
        ご注文ありがとうございました！
        </div>
    </div>
  </div>
</div>